body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Candara;
}
::selection{
  color:midnightblue;
  background: white;
}
nav{
  position: fixed;
  background: midnightblue;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
.menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
ul{
  display: inline-flex;
}
li{
  list-style: none;
  margin-left: 7px;
}
a{
  text-decoration:none;
  color: white;
  font-size: 25px;
  padding: 8px 15px;
  border-radius: 5px;
}
a:hover{
  background: white;
  color: midnightblue;
}
.img{
  background: url(img1.png)no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
}
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: midnightblue
}
.content h1{
  font-size: 85px;
  margin-top: 80px;
}
.content p{
  margin: 20px auto;
  line-height: 25px;
  font-size: 25px;
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: midnightblue;
}

footer{
  color:white;
  font-size:10px;
  background-color:midnightblue;
}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border:2px solid midnightblue;
  background: transparent;
  color: midnightblue;
  font-family: candara;
}
button:hover{
  background:midnightblue;
  color:white
}
.content a{
  color:midnightblue;
}
.content a:hover{
  background:midnightblue;
  color: white;
}
table{
  font-size: 25px;
}
form{
  font-size: 22px;
}
label{
  font-weight: bold
}
span{
  bottom: 12px;
  right: 17px;
  font-size: 14px;
  color: red;
}